<mw-alert-message [response]="response"></mw-alert-message>       
<mw-modal-drop (onYes)="dropme()" ></mw-modal-drop>
  <div class='detail'> 
      <legend *ngIf="_rec.id < 1"><i class="fa fa-plus"></i>Nové zařazení</legend>
      <legend *ngIf="_rec.id > -1"><i class="fa fa-edit"></i>Editace zařazení</legend>
        <div class="form-buttons">
        <button class="btn btn-success" (click)="newone()"><i class="fa fa-plus"></i>Nový záznam</button>
        <button type="submit" class="btn btn-primary" (click)="saveme()" [disabled]="!jednotkaForm.form.valid"><i class="fa fa-save"></i>Uložit záznam / změny</button>
        <button *ngIf="_rec.id > -1" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#dropModal"><i class="fa fa-trash"></i>Odstranit záznam</button>
      </div>
      
      <form #jednotkaForm="ngForm" >
          <ul class="form-fields">
                <li>
                  <div class="col clmn2" style="width: 20%">
                    <label for="kod" class="control-label">Kód zařazení(unikátní)</label>
                    <div>
                      <input [(ngModel)]="_rec.kod" class="form-control" id="kod" name='kod' placeholder="Zadej kód pracovního zařazení" type="text" required #kod="ngModel" oninvalid="this.setCustomValidity('Toto pole musí být zadáno')" onfocus="this.select()">
                      <div *ngIf="kod.errors && (kod.dirty || kod.touched)" class="alert alert-danger">   
                          <div [hidden]="!kod.errors.required">
                            Zadej kód pracovního zařazení. Kód musí být unikátní.
                          </div>
                      </div>
                    </div>  
                  </div>
                  <div class="col clmn2" style="width: 80%">
                    <label for="nazev" class="control-label">Název</label>
                    <div>
                        <input [(ngModel)]="_rec.nazev" class="form-control" id="nazev" name='nazev' placeholder="Zadej název" type="text" required #nazev="ngModel" oninvalid="this.setCustomValidity('Toto pole musí být zadáno')" onfocus="this.select()">
                        <div *ngIf="nazev.errors && (nazev.dirty || nazev.touched)" class="alert alert-danger">   
                            <div [hidden]="!nazev.errors.required">
                                  Zadej název pracovního zařazení.
                            </div>
                        </div>
                    </div>  
                  </div>
              </li> 
              <li>
                <label for="pracoviste" class="control-label">Středisko</label>
                <mw-choose [label]="'Středisko'" 
                        [txtPlaceholder]="'Kód Středisko'"
                        [txtValue]="_rec.pracoviste_kod"
                        [txtLabel]="_rec.pracoviste"
                        [TypeOfList]="_strediskoList"
                        (onSelectedEvent)="onPracovisteChanged($event)">
                </mw-choose>                                
              </li>
              <li>
                <label for="platnost" class="control-label">Platnost</label>
                 <div  class="col">
                    <input [checked]="_rec.platnost" (change)="_rec.platnost = !_rec.platnost;" type="checkbox" />                              
                 </div>
              </li>
          </ul>         
          <mw-changed [zmeneno]="_rec.zmeneno" [zmenil]="_rec.zmenil"></mw-changed>            
          </form>   
  </div>      




