.mw-autocomp {position: relative;}
.mw-autocomp  #n_input { border-right: 0px;}
.mw-autocomp .popup { list-style: none; padding: 0px; background: #FFF; 
                position: absolute; left: 0px; width: calc(100% - 2px); 
                z-index: 9; box-shadow: 0px 0px 3px #000; min-height: 10px; }

.mw-autocomp .popup li {display: block; color: #000; cursor: pointer; border-bottom: 1px dotted #CCC; text-align: left}
.mw-autocomp .popup span { display: inline-block;width: calc(100% - 25px);padding: 5px 3px;}
.mw-autocomp .popup li:hover span, .mw-autocomp .popup .selected {background: rgb(7, 105, 173); color: #FFF;}

.mw-autocomp .btn-pop {border-left: none !important;  border-radius: 0px; border-color: rgb(204, 204, 204) !important;}
.mw-autocomp .btn-pop:active {box-shadow: none !important;}
.mw-autocomp .btn-pop:hover {background: inherit; box-shadow: none;}
.mw-autocomp .btn-pop i {margin: 0px; color: #888; font-size: 9px !important; }

.mw-autocomp .popup li button { line-height: 1; text-align: center; padding: 0px; height: 30px; position: relative; top: -1px; background: #FFF; -webkit-box-shadow: none; box-shadow: none; margin: 0px; border: none; width: 25px; border-radius: 0px; -webkit-border-radius: 0px; }
.mw-autocomp .popup li button i { background: inherit;  color: #888; font-size: 9px !important; margin: 0px;}
.mw-autocomp .popup li button:hover { background: #34495e}
.mw-autocomp .popup li button:hover i {color: #FFF; }


