<mw-popwnd *ngIf="_showPrintPopup" title="Tiskové sestavy" [centerScreen]="true" (onCancel)="_showPrintPopup = !_showPrintPopup">
        <table class="print-list">
                <thead>
                        <tr> <th>Název</th><th>Popis</th><th></th></tr>
                </thead>
                <tbody>
                        <tr *ngFor="let r of _printList">
                                <td>{{r.nazev}}</td>
                                <td>{{r.note}}</td>
                                <td style="text-align: right;"><button class="btn btn-primary" (click)="printReport(r.id)"><i class="fa fa-print"></i> Vytisknout</button></td>
                        </tr>
                </tbody>
        </table>
</mw-popwnd>
<mw-modal-drop (onYes)="dropme()" ></mw-modal-drop>
<mw-alert-message *ngIf="comp" [response]="comp.response"></mw-alert-message>        
<div class='detail'> 
        <div class="form-buttons">
                <button class="btn btn-success" (click)="newone()"><i class="fa fa-plus"></i>Nový záznam</button>
                <button *ngIf="ButtonSave" type="submit" class="btn btn-primary" (click)="saveme()"><i class="fa fa-save"></i>Uložit záznam / změny</button>
                
                <div class="buttons-custom">
                        <ng-conainer *ngFor="let b of customButton;" >
                                <button *ngIf="b.isEnabled()" (click)="b.tocall(b)" [title]="b.title" [class]="'btn ' + b.class">
                                        <i [class]="b.icon"></i>&nbsp;&nbsp;{{b.label}}
                                </button>
                        </ng-conainer>
                        
                </div>
                

                <ng-container  *ngIf="comp.detail.id > -1">
                        <button class="btn btn-print" (click)="printme()"><i class="fa fa-print"></i>Tisk záznamu</button>
                        <button *ngIf="ButtonDelete" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#dropModal"><i class="fa fa-trash"></i>Odstranit záznam</button>
                </ng-container>
                
                <div class="form-zalozky">
                        <span (click)="_selZalozka = -1" [class.sel]="_selZalozka == -1" title="Zobrazit vše">Zobraz vše</span>
                        <ng-container *ngFor="let c of getZalozky(); let i = index">
                                <span (click)="_selZalozka=i; c.tocall(i)" [class.sel]="_selZalozka == i" title="c.title">{{c.label}}</span>
                                <span class="separator"></span>
                        </ng-container>
                        <ng-container *ngIf="prilohy">
                                <span class="separator"></span>
                                <span (click)="_selZalozka = getZalozky().length + 1"  [class.sel]="_selZalozka == getZalozky().length + 1" title="Zobrazit přílohy"><i class="fa fa-paperclip"></i>Přílohy</span>
                        </ng-container>
                        
                </div>
        </div>

        <ng-content *ngIf="_selZalozka != getZalozky().length + 1"></ng-content>  


        <div style="margin-top: 15px">
                <attach-frm *ngIf="comp.detail.priloha_hash" [urlrec]="comp.detail.priloha_hash" [showSeznam]="true" #priloha></attach-frm>
        </div>
</div>