<detail-form *ngIf="_rec" [detail]="this" [prilohy]="false"  [ButtonSave]="_rec.typ != 1" [ButtonDelete]="_rec.typ != 1">
    <form  #detForm="ngForm">
        <div>
            <ul class="form-fields">
                  <li>
                    <label for="n_nazev" class="control-label">Název domény</label>
                    <div>
                      <input [(ngModel)]="_rec.name" class="form-control" id="n_nazev" name='nazev' placeholder="Zadej název domény například prosteveforme.cz" type="text" required #nazev="ngModel" oninvalid="this.setCustomValidity('Toto pole musí být zadáno')" onfocus="this.select()">
                      <div *ngIf="nazev.errors && (nazev.dirty || nazev.touched)" class="alert alert-danger">   
                          <div [hidden]="!nazev.errors.required">
                                Zadej název domény například prosteveforme.cz
                          </div>
                      </div>
                    </div>  
                </li>
                </ul>
                <mw-changed [zmeneno]="_rec.zmeneno" [zmenil]="_rec.zmenil"></mw-changed>            
        </div>
    </form>
</detail-form>