<mw-modal-drop (onYes)="dropme()" ></mw-modal-drop>
<div class='detail'> 
    <legend *ngIf="detail.id < 1"><i class="fa fa-plus"></i>Nový kalendář</legend>
    <legend *ngIf="detail.id > -1"><i class="fa fa-edit"></i>Editace kalendáře</legend>
      <div class="form-buttons">
      <button class="btn btn-success" (click)="newone()"><i class="fa fa-plus"></i>Nový záznam</button>
      <button type="submit" class="btn btn-primary" (click)="saveme()" [disabled]="!kalendarForm.form.valid"><i class="fa fa-save"></i>Uložit záznam / změny</button>
      <button *ngIf="(detail.id > -1)" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#dropModal"><i class="fa fa-trash"></i>Odstranit záznam</button>
    </div>
    <mw-alert-message [response]="response"></mw-alert-message>       
    <form #kalendarForm="ngForm" >
        <ul class="form-fields">
              <li>
                <label for="kod" class="control-label">Kód kalendáře (unikátní)</label>
                <div>
                  <input [(ngModel)]="detail.kod" class="form-control" id="kod" name='kod' placeholder="Zadej kódové označení kalendáře" type="text" required #kod="ngModel" oninvalid="this.setCustomValidity('Toto pole musí být zadáno')" onfocus="this.select()">
                  <div *ngIf="kod.errors && (kod.dirty || kod.touched)" class="alert alert-danger">   
                      <div [hidden]="!kod.errors.required">
                              Zadej kódové označení kalendáře. Kód musí být pro každý kalendář unikátní.
                        </div>
                  </div>
                </div>  
            </li> 
            <li>
              <label for="nazev" class="control-label">Název</label>
              <div>
                  <input [(ngModel)]="detail.nazev" class="form-control" id="nazev" name='nazev' placeholder="Zadej název kalendáře" type="text" required #nazev="ngModel" oninvalid="this.setCustomValidity('Toto pole musí být zadáno')" onfocus="this.select()">
                  <div *ngIf="nazev.errors && (nazev.dirty || nazev.touched)" class="alert alert-danger">   
                      <div [hidden]="!nazev.errors.required">
                              Zadej název kalendáře
                        </div>
                  </div>
              </div>  
            </li>
            <li>
                <label for="platnost_od" class="control-label">Platnost OD</label>
                <mw-date [(datum)]="detail.platnost_od"></mw-date>                
            </li>
            <li>
                <label for="platnost_do" class="control-label">Platnost DO</label>
                <mw-date [(datum)]="detail.platnost_do"></mw-date>
            </li>
            <li>
              <label for="platnost" class="control-label">Platnost</label>
                <div  class="col">
                  <input [checked]="detail.platnost" (change)="detail.platnost = !detail.platnost;" type="checkbox" />                              
                </div>
            </li>
        </ul>        
        
        <ng-container *ngIf="detail.id > -1">    
        <div class="smeny">
            <div class="pnl-head section">Definice směn v kalendáři
                <div class="tool-part">
                    <div class="btn-group">
                      <button type="button" class="btn btn-default"  routerLink="/ciselnik/kalendar/{{detail.id}}"><i class='fa fa-align-justify'></i>Seznam směn</button>
                      <button type="button" class="btn btn-default"  routerLink="/ciselnik/kalendar/{{detail.id}}/-1"><i class='fa fa-plus'></i>Přidat směnu</button>     
                    </div>
                </div>
            </div>
            <div class="pnl-body" [class.box-shadow]="!isSeznamSmen">
                <kalendar-smena *ngIf="!isSeznamSmen" [kalendarid]="detail.id" [smena]="smena"></kalendar-smena>
                <kalendar-smena-list *ngIf="isSeznamSmen" [kalendarid]="detail.id"  ></kalendar-smena-list>
            </div>              
        </div>
        </ng-container>
        <mw-changed [zmeneno]="detail.zmeneno" [zmenil]="detail.zmenil"></mw-changed>            
        </form>   
</div>      




