.popup { list-style: none; padding: 0px; background: #FFF; position: absolute; left: 0px; width: 100%; 
        z-index: 9; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;
        box-shadow: 0px 0px 3px #000;}
.popup li {display: block; padding: 5px; color: #333; cursor: pointer; border-bottom: 1px dotted #CCC; text-align: left}
.popup li:hover {background: #e95420; color: #FFF;}
.mw-btn-drop  {border-top-left-radius: 0px !important; border-bottom-left-radius: 0px !important; background: #ccc; border-top-right-radius: 4px !important; border-bottom-right-radius: 4px !important;}
.mw-btn-drop i { height: 20px; margin: 0px; padding: 0px; color: #888}
.mw-table thead button.btnth { border: none; padding: 5px 3px; box-shadow: none; -webkit-box-shadow: none; background: inherit; font-size: 9px; border-radius: 0px; }
.mw-table thead button.btnth:hover {background: #337ab7; color: #FFF;}
.mw-table thead button i {margin: 0px; color: inherit}
.mw-table thead button.btnth:hover i {color: #FFF;}
.mw-table button.fitler-active, .mw-table button.fitler-active i {background: #24a9ff !important; color: #FFF !important;}
.mw-table thead .sorted {background: #4ca3db  !important; color: #FFF;}
.mw-table thead .sorted i {color: #FFF !important;}
.mw-table thead .filter { padding: 5px;position: absolute;background: #444;z-index: 999;min-width: 400px;box-shadow: 1px 3px 4px #000;-webkit-box-shadow: 1px 3px 4px #000;-moz-box-shadow: 1px 3px 4px #000; top: 100%;left: 0%; border: 1px solid #333;}
.mw-table thead .filter ul {margin-bottom: 0px; padding: 0px;}
.mw-table thead .filter li {display: flex; margin: 0px 0px 2px 0px;  line-height: 1.4}
.mw-table thead .filter li:first-child {margin-bottom: 10px; padding: 5px; }
.mw-table thead .filter li:first-child span {margin-right: 15px; padding: 5px; color:#444; text-decoration: underline; cursor: pointer;  font-size: 0.8em;}
.mw-table thead .filter li:first-child span i {margin-right: 4px;}
.mw-table thead .filter * {font-size: 1em; }
.mw-table thead .filter input, .mw-table thead .filter select {color: #333; padding: 4px; border:none; height: 30px;}
.mw-table thead .filter input {width: 66%;}
.mw-table thead { border-bottom: 5px solid #FFF}

.mw-table div.fulltext { background: #0676ac; padding: 2px 0px 0px 0px;}
.mw-table div.fulltext span { width: 60px; display: inline-block;padding-left: 8px; color: #FFF;}
.mw-table div.fulltext input { width: calc(100% - 62px); display: inline-block;}

.mw-table .filter button {background: #506b82; box-shadow: none; -webkit-box-shadow: none; color: #FFF; padding: 8px 10px; border-radius: 0px; -webkit-border-radius: 0px; -moz-border-radius: 0px; border: none; }
.mw-table .filter button:hover {box-shadow: inset 0 0px 1px rgba(0, 0, 0, .6);  color: #333; background-color: #e6e6e6;}
.mw-table .filter .toolbar > * { flex-grow: 4;}
.mw-table .filter .toolbar label {text-align: left;}
.mw-table .filter .btnadd {margin-top: 5px;}
.mw-table .filter .btnadd i {margin: 0px;}
.mw-table .filter button i {margin-right: 5px; vertical-align: middle;}
.mw-table .filter button.btnact i { margin: 0px; vertical-align: middle; top: 0px;  font-size: 0.8em;}
.mw-table .filter .nomargin {margin: 0px;}
.mw-table .filter div.fradio {padding: 0px 0px 0px 10px;}
.mw-table .filter div.fradio > input {width: auto; vertical-align: middle; margin-top: 0px;}
.mw-table .filter div.fradio > span {line-height: 30px; padding-left: 8px;}
.mw-table .fltritem > * {display: flexbox;}
.mw-table .w80 {width: 80%}
.mw-table .pointer {cursor: pointer; color: #264091; font-size: 1.4em;}
.mw-table .cmd-row {text-align: center; padding: 0px; min-width: 110px;}
.mw-table > tbody > tr > td > button  { width: 30px; height: 30px; padding: 0px; background: #337ab7; box-shadow: none; -webkit-box-shadow: none; border: none; border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px;}
.mw-table tbody button i {margin: 0px !important; font-size: 0.9em; color: #FFF;}
.mw-table th {color: #FFF; background: #444; font-size: 13px; font-weight: bold !important; padding: 5px 4px 0px 8px; cursor: pointer; vertical-align: top; position: sticky; top: 0; z-index: 2;}
.mw-table th > span {padding-right: 10px; display: inline;}
.mw-table th div.a-btn {display: block; float: right; background: inherit;  text-align: right; }
.mw-table th.right {text-align: right;}
.mw-table th div.a-btn i {color: #4ca3db; }
.mw-table td { vertical-align: middle; padding: 2px 5px; font-size: 13px; color: #333; font-weight: normal; }
.mw-table tbody tr {border-bottom: 1px solid #ccc; background-color: #FFF; box-shadow: 0 2px 4px #626262;}

.mw-table tr td { border-left: 1px solid #ccc;}
.mw-table tbody tr td { background-color: #FEFEFE;}
.mw-table tr td:last-child { border-left: 0px !important;}
.mw-table tbody tr:hover td { color: #000; filter: brightness(88%); }
.mw-table tbody tr.detail-view:hover td { filter: brightness(100%); color: inherit;}
.mw-table tbody td:first-child .fa.pointer { color: #888; font-size: 0.8em;}
.mw-table tbody .td-select {background: #eaeaea; }
.mw-table tbody .td-expand {background: #f2f2f2;}
.mw-table #tr-ed-detail td {padding: 0px;}
.mw-table td.edit-row { text-align: center; }

.mw-table div.edt-detail {background: #FFF; padding: 10px; display: none;}
.mw-table div.edt-detail-frm { padding: 15px; box-shadow: 0px 0px 2px #888; -webkit-box-shadow: 0px 0px 2px #888; -moz-box-shadow: 0px 0px 2px #888;}
.mw-table .table { margin-bottom: 5px;}
.mw-table .table .tab-btn:hover {background-color: #2a6d69; color: #FFF;}
.mw-table .clmnfilter {background: #ace492; }
.mw-table tr:nth-child(even) .clmnfilter {background: #c0ffa4 !important; }
.mw-table .bottom-tools {display: block; background: #f4f4f4; border-top: 2px solid #797979;}
.mw-table .bottom-tools li { display: inline-block;}

#mw-table-fixed { position: fixed; top: 0px; display:none; background-color:white; z-index: 998; box-shadow: 0px 2px 4px #333; 
                        -webkit-box-shadow: 0px 2px 4px #333; border-bottom: 1px solid #6a6c6f}
#mw-table-fixed th {text-align: left; padding: 8px; line-height: 1.42857143;}
.mw-table .r-select {display: inline-block; cursor: pointer;}
.mw-table .th-id {width: 30px !important;}
.mw-table .th-select {width: 20px !important; }
.mw-table .blue {background: #01447e; color: #FFF; border-color: #337ab7;}
.mw-table .blue:hover, .mw-table .blue:active, .mw-table .pages li:hover {background: #337ab7; }

.mw-table .btn-tab {
	padding: 8px;
	background: #f0f0f0;
	color: #FFF;
	margin: 2px;
	display: inline;
	color: #262626;
	box-shadow: none;
	border: 1px solid #bbb7b7;
	font-size: 12px;
}

.mw-table  .btn-tab:hover {
	background-color: #337ab7;
	color: #FFF;
}

.mw-table button.gray {
	background: #4de1f9;
	border: 1px solid #179595;
}
.mw-table .mw-paginator .pages li {
	color: blue;
}

.mw-table .table-part {overflow: scroll; width: 100%; min-height: 50px !important; background-color: #5657577d; overflow-y: scroll; overflow-x: auto;}

