parameters:
    dibi:
        host: localhost
        username: opisuser
        password: Op1SuS3r*227*12
        database: opis
        driver: postgre
    karat:
        host: 192.168.1.8
        username: karatlogin
        password: OIz24QS3so**fASQfdsaD4Bg*
        database: KARAT_DATABAZE
        options:
            CharacterSet: UTF-8
            Encrypt: false
            TrustServerCertificate: true
        driver: sqlsrv
    posta:
        host: localhost
        username: postauzivatel
        password: heslo
        database: posta
        driver: mysqli

services:
    authenticator: ws\Security\Authenticator
    authorizator: ws\Security\Authorizator
    http.response: Nette\Http\Response
controllers:
    user:
        methods: [ login, logout, isLoggedIn ]
        class: ws\Security\UserController
responses:
    json: ws\Responses\JsonResponse
    text: ws\Responses\TextResponse

session:
    expiration: 3900 days
    savePath: %tempDir%/session

